body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f8f8f8;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
section {
    min-height: 100vh;
    padding: 50px;
}
footer {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
html, body {
    height: 100%;
    overflow-y: auto; 
}

